@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  height: 46rem;
  min-width: 50rem;
}

.header {
  width: 100%;
  height: 3rem;
  background-color: #8916c5;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  align-items: center;
  color: white;
}

.App-header {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: rebeccapurple;
  margin-bottom: 25px;
  min-width: 40rem;
}

.App-dark {
  background-color: dimgray;
  min-height: 100vh;
  min-width: calc(100vh + 300px);
}

.App-header-dark {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: black;
  margin-bottom: 25px;
}

.registration {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.registration-content {
  display: flex;
  min-height: 39rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 5%;
}

.side-buttons {
  display: flex;
  padding: 0.5rem 5%;
  flex-direction: column;
  align-items: flex-end;
  width: 35px;
  margin-top: 1rem;
  margin-left: 50px;
}

.user-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.interviewers-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 330px));
  grid-auto-rows: minmax(150px, 210px);
  grid-gap: 5px;
  margin-left: 30px;
  margin-top: 30px;
  min-height: 33rem;
  max-width: 90%;
  min-width: 40rem;
}

.candidates-table {
  display: flex;
  min-height: 32rem;
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  justify-content: center;
  flex-direction: column;
  min-width: 35rem;
}

.summary-container {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgb(252, 240, 255);
}

.summary-categories {
  display: flex;
  flex-direction: row;
  margin: 3rem;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.summary-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 2rem;
}

.questions {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 60%;
  justify-content: space-between;
}

