@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  height: 46rem;
}

.header {
  width: 100%;
  height: 3rem;
  background-color: #8916c5;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  align-items: center;
  color: white;
}

.App-header {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: rebeccapurple;
  margin-bottom: 25px;
}

.App-dark {
  background-color: dimgray;
  min-height: 100vh;
  min-width: calc(100vh + 300px);
}

.App-header-dark {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: black;
  margin-bottom: 25px;
}

.registration {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.registration-content {
  display: flex;
  min-height: 39rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 5%;
}


